.garden-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 2%;
  margin-bottom: 4%;
  padding: 5%;
}

.plantingArea-wrapper {
  display: flex;
  flex-wrap: wrap;
  // background: #f5f5f5;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  padding-bottom: 8%;
  margin-bottom: 8%;
  width: 90%;
  height: 300px;
}

.divPot {
  background-image: url('/assets/img/plantingAreas/Painted-Herb-Pots-e1461861397116.jpg');
}

.divParcel {
  background-image: url('/assets/img/plantingAreas/home-garden.webp');
}

// .divPlantingArea {
//   // width: 200px;
//   // height: 200px;
//   overflow: hidden;
//   margin: 10px;
//   position: relative;
// }

// .figure {
//   position: absolute;
//   margin: auto;
//   min-height: 100%;
//   min-width: 100%;

//   /* For the following settings we set 100%, but it can be higher if needed
//   See the answer's update */
//   left: -100%;
//   right: -100%;
//   top: -100%;
//   bottom: -100%;
// }
