<p>
  accountpage works! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Dolorem exercitationem omnis, optio animi necessitatibus impedit fugit dolore
  molestias nam eos cumque quam doloremque vero nesciunt ipsam nemo rerum nisi
  delectus!
</p>
<p>
  accountpage works! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Dolorem exercitationem omnis, optio animi necessitatibus impedit fugit dolore
  molestias nam eos cumque quam doloremque vero nesciunt ipsam nemo rerum nisi
  delectus!
</p>

<p>
  accountpage works! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Dolorem exercitationem omnis, optio animi necessitatibus impedit fugit dolore
  molestias nam eos cumque quam doloremque vero nesciunt ipsam nemo rerum nisi
  delectus!
</p>

<p>
  accountpage works! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
  Dolorem exercitationem omnis, optio animi necessitatibus impedit fugit dolore
  molestias nam eos cumque quam doloremque vero nesciunt ipsam nemo rerum nisi
  delectus!
</p>

<p *ngIf="authServ.user$ | async as user" style="color: rebeccapurple;">
  {{ user.lastname }}
  {{ user.id }}
  {{ user.firstname }}
  {{ user.userRole.name }}
</p>
<app-sidebar-account></app-sidebar-account>
