// .library-list {
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);
//   align-items: center;
//   grid-gap: 2%;
//   margin-bottom: 4%;
//   padding: 5%;
// }// .plant {
//   background: url('/assets/img/plant.jpg') no-repeat;
//   background-size: cover;
//   // max-width: 20%;
//   color: var(--blanc);
//   position: relative;
// }// .infos {
//   display: flex;
//   width: 70%;
//   margin: auto;
//   padding-top: 40%;
//   // justify-content: space-between;
// }// .infos div:first-child {
//   text-align: right;
// }// .border {
//   color: var(--blanc);
//   margin: 0 5%;
// }// button {
//   display: block;
//   margin: auto;
//   border: 2px solid var(--vert);
//   padding: 2% 4%;
//   border-radius: 20px;
//   background-color: rgba(74, 207, 176, 0.2);
//   color: var(--vert);
//   margin-top: 13%;
// }// .opac {
//   background: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
//   position: relative;
//   width: 100%;
//   padding-bottom: 5%;
// }// .encart {
//   width: 100px;
//   font-size: 13px;
//   padding: 5px;
//   text-align: center;
//   background-color: var(--vert);
//   color: #fff;
//   position: absolute;
//   top: -10px;
//   left: 30%;
//   transform: translateX(-50%);
// }// .encart p {
//   margin: inherit;
// }//------------------------------------------------------------------------------------

.library-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  grid-gap: 2%;
  margin-bottom: 4%;
  padding: 5%;
}

.plant {
  background: #f5f5f5;
  position: relative;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  padding-bottom: 8%;
  margin-bottom: 8%;
  width: 300px;
}

.img {
  // max-width: 150%;
  height: 200px;
  overflow: hidden;
}

.img figure img {
  max-width: 150%;
}

.infos {
  display: flex;
  width: 80%;
  padding-top: 8%;
  margin: auto;
  color: var(--police);
  // justify-content: space-between;
}

.infos div:nth-child(3) p:first-child {
  // font-size: 18px;
  font-weight: bold;
}

.infos div:first-child {
  text-align: right;
}

.border {
  // border: 0.1pt solid var(--police) !important;
  margin: 0 5%;
}

.single-plant {
  display: block;
  margin: auto;
  border: 2px solid var(--vert);
  padding: 2% 4%;
  border-radius: 20px;
  color: var(--vert);
  margin-top: 13%;
  width: 50%;
  cursor: pointer;
}

.encart {
  width: 100px;
  font-size: 13px;
  padding: 5px;
  text-align: center;
  background-color: var(--vert);
  color: #fff;
  position: absolute;
  top: -10px;
  left: 30%;
  transform: translateX(-50%);
}

.encart p {
  margin: inherit;
}

i {
  padding-right: 4px;
}

@media screen and (max-width: 1280px) {
  .library-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .library-list {
    display: inherit;
  }  .plant {
    margin: 6%;
  }
}