<app-navbar></app-navbar>
<router-outlet></router-outlet>

<main>
  <header>
    <div class="header">
      <div class="opac">
        <div class="top">
          <div class="title">
            <h1>Happy Garden</h1>
            <p>Jardin connecté.</p>
          </div>

          <div class="slogan-container">
            <div class="slogan">
              <div class="encart">
                <p id="">Happy Garden</p>
              </div>
              <p>Un jardin content
                <br>
                est un jardin vivant.
                <br>
                Donnez nous de l'argent :).</p>
                <a href="#">Créez votre premier jardin</a>
            </div>
            <div class="news">
              <p>NEXT STORY</p>
              <p>Morbi eleifend a libero</p>
              <p>Quisque viverra interdum velit, et cursus magna sagittis in. In dui dui.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </header>
</main>




