/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vert: #4acfb0;
  --blanc: #fff;
  --police: #354463;
}

// figure img {
//   max-width: 100%;
// }
