/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --vert: #4acfb0;
  --blanc: #fff;
  --police: #354463;
  --police-inactive: #354463a0;
}

// a {
//   color: var(--vert);
// }

// a:hover {
//   color: var(--vert);
//   text-decoration: wavy underline var(--vert);
// }

a:hover {
  text-decoration: none;
}

figure img {
  max-width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.profile-section {
  margin: 4% 5% 5% 18%;
}
