<a [routerLink]="['../..']" style="padding-top: 50px !important;"
    ><i class="far fa-arrow-alt-circle-left"></i>
    <p>Retour à la liste</p></a
  >
<h3>Modification utilisateur</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstname" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastname" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Pseudo</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="user.nickname" name="emailId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
