<div class="row">
  <div class="col-md-2">
    <app-garden-sidebar></app-garden-sidebar>
  </div>

  <div class="col-md-10" id="body">
    <div class="body-wrapper">
      <p
        class="cursor"
        [ngClass]="{ 'd-none': !currentGarden.id }"
        (click)="selectGarden(currentGarden)"
      >
        {{ currentGarden.name }}
      </p>
      <div class="titles-add-plant">
        <div class="titles-left">
          <a
            class="currentPlantingArea-title cursor"
            (click)="selectPlantingArea($event, currentPlantingArea)"
            >{{ currentPlantingArea.name }}</a
          >
          <a [ngClass]="{ 'd-none': !currentPlant.id }"
            >- {{ currentPlant.commonName }}</a
          >
        </div>
        <div class="add-button-div">
          <a class="add-button">
            <!-- [routerLink]="['../libraryList', currentPlant.id]" -->
            {{ addButtonTitle }}</a
          >
        </div>
      </div>
      <div>
        <app-body-garden></app-body-garden>
        <app-body-planting-area></app-body-planting-area>
        <app-body-plant></app-body-plant>
      </div>
    </div>
  </div>
</div>
