#body {
  padding-top: 30px;
  padding-right: 0px;
  height: 100vh;
}

.body-wrapper {
  padding-right: 40px;
}

.cursor {
  cursor: pointer;
}

.currentPlantingArea-title {
  padding-right: 15px;
}

.titles-add-plant {
  display: flex;
  justify-content: space-between;
  padding-right: 130px;
}

.add-button-div {
  display: flex;
  justify-content: flex-end;
}

.add-button {
  display: block;
  margin: auto;
  border: 2px solid var(--vert);
  padding: 2% 4%;
  border-radius: 20px;
  color: var(--vert);
  text-align: center;
  // margin-top: 20px;
  width: 150%;
  cursor: pointer;
}
