.row {
  margin-top: 30px;
}

#sidebar {
  background-color: whitesmoke;
  height: 100vh;
}

#body {
  background-color: burlywood;
  height: 100vh;
}

#sidebar li {
  list-style-type: circle;
}

#sidebar li li {
  list-style-type: square;
}

.selected {
  &,&:hover{
   color: var(--vert); 
  }
}

.encart {
  width: 100px;
  font-size: 13px;
  padding: 5px;
  text-align: center;
  background-color: var(--vert);
  color: #fff;
  position: absolute;
  top: -10px;
  left: 30%;
  transform: translateX(-50%);
}

.single-plant {
  position: relative;
  display: flex;
  margin: 8%;
  background: #fcfcfc;
}

.img {
  max-width: 50%;
  // height: 200px;
  overflow: hidden;
}

.img figure img {
  max-width: 100%;
}
