<!-- <ng-container *ngFor="userAccount$ | async as userAccount"></ng-container> -->
<section class="section-create">
  <a [routerLink]="['/gardens']" style="padding-top: 100px !important;"
    ><i class="far fa-arrow-alt-circle-left"></i>
    <p>Retour à mes jardins</p></a
  >
  <fieldset class="fieldsetBorder">
    <legend class="fieldsetBorder">Creation d'un jardin</legend>
    <div>
      <div class="row">
        <div class="col-12 col-md-6">
          <form
            [formGroup]="createGardenForm"
            (ngSubmit)="onSubmit(createGardenForm.value)"
          >
            <div class="form-group row">
              <label for="set">Nom</label>
              <input
                class="form-control sharp"
                formControlName="gardenName"
                type="text"
                placeholder="Nom"
              />
            </div>
            <button class="btn add-button" type="submit">
              Enregistrer
            </button>
          </form>
        </div>
      </div>
    </div>
  </fieldset>
  <!-- </ng-container> -->
</section>
