<header>
  <div class="opac">
    <div class="top">
      <div class="title">
        <h1>Happy Garden</h1>
        <p>Jardin connecté.</p>
      </div>

      <div>
        <div class="slogan">
          <div class="encart">
            <p>Happy Garden</p>
          </div>
          <p>
            Un jardin vivant
            <br />
            est un jardin content.
            <br />
            Donnez-nous de l'argent :)
          </p>
          <a href="#">Créez votre premier jardin connecté.</a>
        </div>

        <div class="news">
          <p>NEXT STORY</p>
          <h3>Morbi eleifend a libero</h3>
          <p>
            Quisque viverra interdum velit, et cursus magna sagittis in. In dui
            dui.
          </p>
        </div>
      </div>
    </div>
  </div>
  {{ userService.userAccount.id }}
</header>
