<div *ngIf="needlogin" class="alert alert-danger">You need to log in to access this page.</div>

<div class="row">
  <div *ngIf="!(this.authServ.isAuthentificated$ | async) ; else logout" class="col-md-6 login-container">
    <h2 style="margin: auto">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">UserName:</label>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          id="username"
          autocomplete="off"
        />
        <div
          class="error"
          *ngIf="
            loginForm.controls['username'].hasError('required') &&
            loginForm.controls['username'].touched
          "
        >
          Username is required
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          id="pwd"
          autocomplete="off"
        />
        <div
          class="error"
          *ngIf="
            loginForm.controls['password'].hasError('required') &&
            loginForm.controls['password'].touched
          "
        >
          Password is required
        </div>
      </div>
      <button class="btn btn-success" [disabled]="loginForm.invalid">
        Login
      </button>
      <div *ngIf="invalidLogin" class="error">
        <div>Invalid credentials.</div>
      </div>
    </form>
  </div>
  <ng-template #logout>
    <div class="col-md-6 login-container">
      <h2>Vous êtes déjà connecté. Se déconnecter ?</h2>
      <button class="btn btn-danger" (click)="logOut()">Se déconnecter</button>
    </div>
  </ng-template>
</div>
