<!-- <ng-container *ngFor="userAccount$ | async as userAccount"></ng-container> -->
<section class="section-create">
  <a [routerLink]="['/gardens']" style="padding-top: 100px !important;"
    ><i class="far fa-arrow-alt-circle-left"></i>
    <p>Retour à mes jardins</p></a
  >
  <fieldset class="fieldsetBorder">
    <legend class="fieldsetBorder">Ajouter une plante</legend>
    <div>
      <div class="row">
        <div class="col-12 col-md-6"></div>
      </div>
    </div>
  </fieldset>

  <div class="showPlants">
    <form class="form-inline" [formGroup]="searchPlantFrom">
      <div class="form-group">
        <label for="plantName">Rechercher une plante</label>
        <input
          formControlName="plantName"
          id="plantName"
          type="text"
          placeholder="Nom de la plante"
          class="form-control"
        />
      </div>
      <button
        class="btn-api form-control"
        type="submit"
        (click)="searchPlant()"
      >
        Rechercher
      </button>
      <button
        class="btn-detail form-control"
        [routerLink]="'create'"
        type="button"
      >
        Créer
      </button>
    </form>

    <div class="library-list">
      <div class="plant-wrapper" *ngFor="let plantUser of plantsUser">
        <div class="plant">
          <div class="encart">
            <p>Fiche perso : {{ plantUser.commonName }}</p>
          </div>
          <div class="imgPlant">
            <figure>
              <img src="/assets/img/{{ plantUser.image }}" alt="" />
            </figure>
          </div>
          <div class="plant-infos">
            <div>
              <p>
                Nom <br />
                scientifique
              </p>
              <p>Famille</p>
              <p>Arrosage</p>
              <p>Milieu</p>
            </div>
            <div class="border"></div>
            <div>
              <p class="on-two-lines">{{ plantUser.scientificName }}</p>
              <p>Blabla</p>
              <p>
                <i class="fas fa-tint"></i>
                <i class="fas fa-tint"></i>
              </p>
              <p>Blabla</p>
            </div>
          </div>

          <a
            class="btn-api btn-single-plant"
            [routerLink]="['id', plantUser.id]"
            >Fiche complète</a
          >
        </div>
      </div>

      <div class="plant-wrapper" *ngFor="let plant of plants$ | async">
        <div class="plant">
          <div class="encart">
            <p>{{ plant.commonName }}</p>
          </div>
          <div class="imgPlant">
            <figure><img src="/assets/img/{{ plant.image }}" alt="" /></figure>
          </div>
          <div class="plant-infos">
            <div>
              <p>
                Nom <br />
                scientifique
              </p>
              <p>Famille</p>
              <p>Arrosage</p>
              <p>Milieu</p>
            </div>
            <div class="border"></div>
            <div>
              <p class="on-two-lines">{{ plant.scientificName }}</p>
              <p>Blabla</p>
              <p>
                <i class="fas fa-tint"></i>
                <i class="fas fa-tint"></i>
              </p>
              <p>Blabla</p>
            </div>
          </div>

          <a class="btn-api btn-single-plant" [routerLink]="['id', plant.id]"
            >Fiche complète</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- </ng-container> -->
</section>
