.encart {
  width: 100px;
  font-size: 13px;
  padding: 5px;
  text-align: center;
  background-color: var(--vert);
  color: #fff;
  position: absolute;
  top: -10px;
  left: 10%;
  transform: translateX(-50%);
  z-index: 1000;
}

.single-plant {
  position: relative;
  // display: flex;
  margin: 8%;
  background: #fcfcfc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.heart {
  position: absolute;
  font-size: 25px;
  right: 0;
  color: var(--vert);
  padding: 2%;
}

.img {
  max-width: 50%;
  // height: 200px;
  overflow: hidden;
  position: relative;
}

.bottom-infos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.img figure img {
  max-width: 100%;
}

.encart p {
  margin: 0;
}

.infos {
  color: var(--police);
  padding: 3%;
  width: 100%;
}

figure {
  margin: inherit;
}

.scientific-name {
  font-size: 30px;
}

.picto {
  width: 200px;
  margin-top: 20px;
}

.picto figure {
  width: 50px;
  margin: 0;
}

.picto p {
  margin: 0;
}
