.navbar-expand-md .navbar-collapse {
  justify-content: end;
}

nav {
  background: linear-gradient(hsl(148, 32%, 96%), hsl(148, 40%, 86%) 45%);
  background-color: #e0efe7;
  border-bottom: solid 1px var(--vert);
}

.navbar-brand {
  font-weight: 500;
  color: var(--police);
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: var(--police);
}

i {
  background:linear-gradient(#354463 20%, #23deff 80%);
  background-clip: text;
  color: transparent;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--police-inactive);
}

